# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Build artifacts
dist/
coverage/
.cache/
.tmp/

# TypeScript
*.tsbuildinfo

# Env and secrets
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/migrations/**/steps.json
*.sqlite
*.sqlite-journal

# Logs
logs/
*.log
*.log.*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Docker
.docker/
**/docker/*.pid

# Postman
postman/*.json

# Archives
*.tgz
*.zip